<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>StudeyOurSelves</title>
        <meta name="description" content="共有タスク管理するWebアプリケーション">

        <!--CSS----------------------------------------------->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="../static/styles/answer.css">
    </head>

    <body>
        <header>
            <div class="title">
                <a href="index.html">SOS</a>
            </div>
            <div class="menus">
                <ul>
                    <!--ユーザー情報編集ページへ-->
                    <li><a href="home_ver2.html">ユーザー名</a></li>
                    <li><a href="index.html">ログアウト</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="answer">
                <div class="class-name">
                    <h1>[授業名]</h1>
                    <h2>演習問題</h2>
                    <h3>結果</h3>
                    <h3 class="mark"><span class="mark-correct">〇</span>/<span class="mark-wrong">×</span></h3>
                </div>
                <div class="problem-statement">
                    <h2>問題</h2>
                    <p>
                        問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。問題文を書きます。
                    </p>
                </div>
                <div class="answer-statement">
                    <h2>解説</h2>
                    <ul class="ans">
                        <li>1:<span class="correct">〇</span></li>
                        <li>2:<span class="wrong">×</span></li>
                        <li>3:<span class="wrong">×</span></li>
                        <li>4:<span class="wrong">×</span></li>
                    </ul>
                    <p>
                        解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。解説文を書きます。
                    </p>
                </div>
                <div class="button">
                    <a href="class.html">中止</a>
                    <a href="question.html">もう１度解く</a>
                    <a href="question.html">次の問題へ</a>
                </div>
            </div>
        </main>
    </body>
</html>