<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>StudeyOurSelves</title>
        <meta name="description" content="共有タスク管理するWebアプリケーション">

        <!--CSS-->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="../static/styles/class.css">
    </head>

    <body>
        <header>
            <div class="title">
                <a href="/">SOS</a>
            </div>
            <div class="menus">
                <ul>
                    <!--ユーザー情報編集ページへ-->
                    <li><a href="/edit">{{username}}</a></li>
                    <li><a href="/logout">ログアウト</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="class">
                <div class="title">
                    <h1>{{classname}}</h1>
                    <form action="" method="POST" name="">
                        
                        <div class="button">
                            {% if isTake == False %}
                                <a class="button" href="/class/{{classname}}/register?id={{classId}}">登録</a>
                            {% endif %}
                            {% if isTake == True %}
                                <a>登録済み</a>
                                <a class="button" href="/class/{{classname}}/release?id={{classId}}">解除</a>
                            {% endif %}
                        </div>
                        
                        
     
                        
                    </form>
                </div>
                <section>
                    <div class="sub-title">
                        <h2>授業概要</h2>
                    </div>
                    <div class="content">
                        <p>{{info_class}}</p>
                    </div>
                </section>
                <section>
                    <div class="sub-title">
                        <h2>授業スケジュール</h2>
                    </div>
                    <div class="content">
                        <div class="event">
                            <div class="date">2020-8-15</div>
                            <div class="event-name">
                                <h3>イベント名</h3>
                            </div>
                            <p class="info">
                                ここにイベントの詳細書いてくれ
                            </p>
                        </div>
                        <div class="event">
                            <div class="date">2020-8-15</div>
                            <div class="event-name">
                                <h3>イベント名</h3>
                            </div>
                            <p class="info">
                                ここにイベントの詳細書いてくれ
                            </p>
                        </div>
                        <div class="event">
                            <div class="date">2020-8-15</div>
                            <div class="event-name">
                                <h3>イベント名</h3>
                            </div>
                            <p class="info">
                                ここにイベントの詳細書いてくれ
                            </p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="sub-title">
                        <h2>演習問題</h2>
                    </div>
                    <div class="content">
                        {% if isTake == True %}
                            <div class="make-q-set">
                                <form action="/class/{{classname}}/makeSet" method="POST" >
                                    <input type="text" name='SetName' placeholder="作成したい問題セット名">
                                    <input type="submit" value="作成">
                                </form>
                            </div>
                        {% endif %}
                        <ul class="q-sets">
                            {% for set in ProblemSets %}
                                <li class="q-set">
                                    <div class="q-title">
                                        <a class="q-title" href="/question">{{set[1]}}</a>
                                    </div>
                                </li>
                                <div class="button">
                                    <a class="button" href="/class/{{classname}}/question?set={{set[0]}}">解く</a>
                                    <a class="button" href="/class/{{classname}}/register_question?set={{set[0]}}">問題追加</a>
                                    <a class="button" href="/class/{{classname}}/question_list?set={{set[0]}}">問題リスト</a>
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            </div>
        </main>
    </body>
</html>
