<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>StudeyOurSelves</title>
        <meta name="description" content="共有タスク管理するWebアプリケーション">

        <!--CSS----------------------------------------------->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="../../static/styles/edit_question.css">
    </head>

    <body>
        <header>
            <div class="title">
                <a href="/">SOS</a>
            </div>
            <div class="menus">
                <ul>
                    <!--ユーザー情報編集ページへ-->
                    <li><a href="/">{{username}}</a></li>
                    <li><a href="/logout">ログアウト</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="edit-question">
                <h1 class="class-name">授業名</h1>
                <h2 class="mode">問題編集</h2>
                <div class="question">
                    <form action="/class/{{classname}}/edit_question_post?set={{setId}}&id={{problem[0]}}" method="POST">
                        <h2>問題名</h2>
                        <input type="text" name="name" placeholder="問題名を書いてください" value="{{problem[2]}}">
                        <h2>問題文</h2>
                        <textarea class="long" name="question" placeholder="問題文を書いてください">{{problem[3]}}</textarea>
                        <h2>選択肢</h2>
                        <div class="choice">
                            <p>1</p>
                            <textarea name="choice1" placeholder="選択肢を書いてください">{{problem[4]}}</textarea>
                        </div>
                        <div class="choice">
                            <p>2</p>
                            <textarea name="choice2">{{problem[5]}}</textarea>
                        </div>
                        <div class="choice">
                            <p>3</p>
                            <textarea name="choice3">{{problem[6]}}</textarea>
                        </div>
                        <div class="choice">
                            <p>4</p>
                            <textarea name="choice4">{{problem[7]}}</textarea>
                        </div>
                        <h2>答え</h2>
                        <select name="answer">
                            <!--番号は選択肢の文と対応させておくれ。-->
                            <option value="" hidden>答えを選択</option>
                            <option value="1" {{ 'selected' if problem[8] == 1 else '' }}>1</option>
                            <option value="2" {{ 'selected' if problem[8] == 2 else '' }}>2</option>
                            <option value="3" {{ 'selected' if problem[8] == 3 else '' }}>3</option>
                            <option value="4" {{ 'selected' if problem[8] == 4 else '' }}>4</option>
                        </select>
                        <h2>解説</h2>
                        <textarea name="solution" class="long" placeholder="解説を書いてください">{{problem[9]}}</textarea>
                        <div class="button">
                            <input type="submit" value="編集完了">
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>