<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>StudeyOurSelves</title>
        <meta name="description" content="共有タスク管理するWebアプリケーション">

        <!--CSS----------------------------------------------->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="../static/styles/edit_user_info.css">
    </head>

    <body>
        <header>
            <div class="title">
                <a href="/">SOS</a>
            </div>
            <div class="menus">
                <ul>
                    <!--ユーザー情報編集ページへ-->
                    <li><a href="/">{{username}}</a></li>
                    <li><a href="/logout">ログアウト</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="edit-user-info">
                <h1>パスワード変更</h1>
                <div>
                    <form action="" method="" name="">
                        <div class="email">
                            <p>メールアドレス:</p>
                            <p class="address">
                                {{username}}
                                <br>
                                現在こちらの機能は使えません（今後実装予定）
                            </p>
                        </div>
                        <div class="password">
                            <p>パスワード:</p>
                            <input type="password" placeholder="新しいパスワード">
                            <input type="password" placeholder="パスワードの確認">
                        </div>
                        <div class="button">
                            <a href="home_ver2.html">中止</a>
                            <input type="submit" value="決定">
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>