<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>StudeyOurSelves</title>
        <meta name="description" content="共有タスク管理するWebアプリケーション">

        <!--CSS-->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="../static/styles/feedback.css">
    </head>

    <body>
        <header>
            <div class="title">
                <a href="/">SOS</a>
            </div>
            <div class="menus">
                <ul>
                    <!--ユーザー情報編集ページへ-->
                    <li><a href="/">{{username}}</a></li>
                    <li><a href="/logout">ログアウト</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="feedback">
                <h1>登録が完了しました。</h1>
                <!--<h1>問題を追加しました。</h1>-->
                <div class="button">
                    <a href="/class">授業ページへ</a>
                    <a href="/">さらに登録する</a>
                    <!--<a href="/make_class">さらに追加する</a>-->
                </div>
            </div>
        </main>
    </body>
</html>