<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>StudeyOurSelves</title>
        <meta name="description" content="共有タスク管理するWebアプリケーション">

        <!--CSS-->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="../static/styles/home_ver2.css">
    </head>

    <body>
        <header>
            <div class="title">
                <a href="/">SOS</a>
            </div>
            <div class="menus">
                <ul>
                    <!--ユーザー情報編集ページへ-->
                    <li><a href="/edit">ユーザー名</a></li>
                    <li><a href="/logout">ログアウト</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="list">
                <h1>Menus</h1>
                <ul>
                    <li><a href="/edit">ユーザー情報編集</a></li>
                    <li><a href="/register_class">授業登録</a></li>
                    <li><a href="/add_event">予定追加</a></li>
                </ul>
                <h1>Classes</h1>
                <ul>
                    <li><a href="class.html">class1</a></li>
                    <li><a href="class.html">class2</a></li>
                    <li><a href="class.html">class3</a></li>
                    <li><a href="class.html">class4</a></li>
                </ul>
            </div>
            <div class="schedules">
                <h1>Schedules</h1>
                {% for ToDoContent in ToDo %}
                    <div class="event">
                        <div class="date">{{ToDoContent['date']}}</div>
                        <div class="sub-title">
                            <a href="/class">{{ToDoContent['id']}}</a>  {{ToDoContent['info'][0:25]}}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>
    </body>
</html>
