<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>StudeyOurSelves</title>
        <meta name="description" content="共有タスク管理するWebアプリケーション">

        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="../static/styles/index.css">
    </head>

    <body>
        <header>
            <div class="title">
                <a href="/">SOS</a>
            </div>
            <div class="menus">
                <ul>
                    <li><a href="/login">ログイン</a></li>
                    <li><a href="/new">新規登録</a></li>
                </ul>
            </div>
        </header>
        <main>
            <h1>Study Ourselves</h1>
            <p>みんなで知識を共有し、学びましょう。</p>
        </main>
        <footer>
            <h1 class="team-name">Cos5year</h1>
            <h2>Member</h2>
            <ul class="member">
                <li><a href="https://github.com/jimar884">jimar884</a></li>
                <li><a href="https://github.com/kurikinton105">kurikinton105</a></li>
                <li><a href="https://github.com/tomsoyaN">tomSoya</a></li>
            </ul>
        </footer>
    </body>
</html>
