<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>StudeyOurSelves</title>
        <meta name="description" content="共有タスク管理するWebアプリケーション">

        <!--CSS----------------------------------------------->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="../static/styles/index.css">
    </head>

    <body>
        <header>
            <div class="title">
                <a href="index.html">SOS</a>
            </div>
            <div class="menus">
                <ul>
                    <li><a href="login.html">ログイン</a></li>
                    <li><a href="new.html">新規登録</a></li>
                </ul>
            </div>
        </header>
        <main>
            <h1>Study Ourselves</h1>
            <p>みんなで知識を共有し、学びましょう。</p>
        </main>
    </body>
</html>