<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>StudeyOurSelves</title>
        <meta name="description" content="共有タスク管理するWebアプリケーション">

        <!--CSS----------------------------------------------->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="../static/styles/question_list.css">
    </head>

    <body>
        <header>
            <div class="title">
                <a href="index.html">SOS</a>
            </div>
            <div class="menus">
                <ul>
                    <!--ユーザー情報編集ページへ-->
                    <li><a href="home_ver2.html">ユーザー名</a></li>
                    <li><a href="index.html">ログアウト</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="question-list">
                <h1>授業名</h1>
                <h2>問題セット名</h2>
                <form action="" method="" name="">
                    <ul>
                        <li>
                            <p>
                                <div class="q-title">
                                    問題タイトル
                                </div>
                                <div class="q-buttons">
                                    <input class="q-button" type="submit" value="削除">
                                    <a class="q-button" href="edit_question.html">編集</a>
                                </div>
                            </p>
                        </li>
                        <li>
                            <p>
                                <div class="q-title">
                                    問題タイトル
                                </div>
                                <div class="q-buttons">
                                    <input class="q-button" type="submit" value="削除">
                                    <a class="q-button" href="edit_question.html">編集</a>
                                </div>
                            </p>
                        </li>
                        <li>
                            <p>
                                <div class="q-title">
                                    問題タイトル
                                </div>
                                <div class="q-buttons">
                                    <input class="q-button" type="submit" value="削除">
                                    <a class="q-button" href="edit_question.html">編集</a>
                                </div>
                            </p>
                        </li><li>
                            <p>
                                <div class="q-title">
                                    問題タイトル
                                </div>
                                <div class="q-buttons">
                                    <input class="q-button" type="submit" value="削除">
                                    <a class="q-button" href="edit_question.html">編集</a>
                                </div>
                            </p>
                        </li>
                        
                    </ul>
                </form>
                <div class="button">
                    <a href="class.html">授業ページへ</a>
                    <a href="register_question.html">追加する</a>
                </div>
            </div>
        </main>
    </body>
</html>
