<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>StudeyOurSelves</title>
        <meta name="description" content="共有タスク管理するWebアプリケーション">

        <!--CSS----------------------------------------------->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="../../static/styles/question_list.css">
    </head>

    <body>
        <header>
            <div class="title">
                <a href="/">SOS</a>
            </div>
            <div class="menus">
                <ul>
                    <!--ユーザー情報編集ページへ-->
                    <li><a href="/">{{username}}</a></li>
                    <li><a href="/logout">ログアウト</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="question-list">
                <h1>{{classname}}</h1>
                <h2>{{setTitle}}</h2>
                <form action="" method="" name="">
                    <ul>
                        {% for problem in ProblemSet%}
                            <li>
                                <p>
                                    <div class="q-title">
                                        {{problem[2]}}
                                    </div>
                                    <div class="q-buttons">
                                        <a class="q-button" href="/class/{{classname}}/delete_question?set={{setId}}&id={{problem[0]}}&cid={{classId}}">削除</a>
                                        <a class="q-button" href="/class/{{classname}}/edit_question?set={{setId}}&id={{problem[0]}}&cid={{classId}}">編集</a>
                                    </div>
                                </p>
                            </li>
                        {% endfor %}            
                    </ul>
                </form>
                <div class="button">
                    <a class="button" href="/class/{{classname}}?id={{classId}}">授業ページへ</a>
                    <a class="button" href="/class/{{classname}}/register_question?set={{setId}}&id={{classId}}">追加する</a>
                </div>
            </div>
        </main>
    </body>
</html>
