<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>StudeyOurSelves</title>
        <meta name="description" content="共有タスク管理するWebアプリケーション">

        <!--CSS----------------------------------------------->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="../../static/styles/question.css">
    </head>

    <body>
        <header>
            <div class="title">
                <a href="/">SOS</a>
            </div>
            <div class="menus">
                <ul>
                    <!--ユーザー情報編集ページへ-->
                    <li><a href="/">{{username}}</a></li>
                    <li><a href="/logout">ログアウト</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="question">
                <div class="class-name">
                    <h1>{{classname}}</h1>
                    <h2>演習問題</h2>
                </div>
                <div class="problem-statement">
                    <h2>{{Problem[2]}}</h2>
                    <p>
                        {{Problem[3]}}
                    </p>
                </div>
                <form action="" method="" name="">
                    <div class="choice">
                        <h2>回答</h2>
                        <table>
                            <tr>
                                <th>1</th>
                                <th>
                                    <input type="radio" name="answer" value="1" id="1">
                                </th>
                                <td>
                                    <label for="1">
                                        <p>
                                            {{Problem[4]}}
                                        </p>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <th>2</th>
                                <th>
                                    <input type="radio" name="answer" value="1" id="2">
                                </th>
                                <td>
                                    <label for="2">
                                        <p>
                                            {{Problem[5]}}
                                        </p>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <th>3</th>
                                <th>
                                    <input type="radio" name="answer" value="1" id="3">
                                </th>
                                <td>
                                    <label for="3">
                                        <p>
                                            {{Problem[6]}}
                                        </p>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <th>4</th>
                                <th>
                                    <input type="radio" name="answer" value="1" id="4">
                                </th>
                                <td>
                                    <label for="4">
                                        <p>{{Problem[7]}}</p>
                                    </label>
                                </td>
                            </tr>
                            
                        </table>
                    </div>
                    <div class="button">
                        <a href="/class/{{classname}}?id={{classId}}">中止</a>
                        {% if n > 1%}
                            <a href="/class/{{classname}}/question?set={{setId}}&n={{n-1}}&id={{classId}}">前の問題へ</a>
                        {% endif %}
                        {% if n < max %}
                            <a href="/class/{{classname}}/question?set={{setId}}&n={{n+1}}&id={{classId}}">次の問題へ</a>
                        {% endif %}
                        <a id="open">回答</a>
                        <dialog id="dialog">
                            <h2>回答と解説</h2>
                            <div class="dialog-content">
                                <h3>答え:{{Problem[8]}}</h3>
                                <h3>解説:</h3>
                                <p>{{Problem[9]}}</p>                                
                            </div>
                            <p id="close" type="button">閉じる</p>
                            </dialog>
                    </div>
                        
                </form>
            </div>
        </main>
        <script>
            (function() {
                const open = document.getElementById('open');

                const close = document.getElementById('close');

                const dialog = document.getElementById('dialog');
                open.addEventListener('click', () => {
                    dialog.showModal();
                });

                close.addEventListener('click', function() {
                    dialog.close();
                });

                dialog.addEventListener('click', (event) => {
                    if (event.target === dialog) {
                        dialog.close('cancelled');
                    }
                });
            }());
        </script>
    </body>
</html>