<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>StudeyOurSelves</title>
        <meta name="description" content="共有タスク管理するWebアプリケーション">

        <!--CSS----------------------------------------------->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="../../static/styles/register_question.css">
    </head>

    <body>
        <header>
            <div class="title">
                <a href="index.html">SOS</a>
            </div>
            <div class="menus">
                <ul>
                    <!--ユーザー情報編集ページへ-->
                    <li><a href="home_ver2.html">ユーザー名</a></li>
                    <li><a href="index.html">ログアウト</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="register-question">

                <h1 class="class-name">{{class_name}}</h1>
                <h2 class="mode">問題追加</h2>

                <div class="question">
                    <form action="/class/{{class_name}}/register_question_post?set={{ request.args.get('set') }}" method="POST">
                        <h2>問題文</h2>
                        <textarea name = "question" class="long" placeholder="問題文を書いてください"></textarea>
                        <h2>選択肢</h2>
                        <div class="choice">
                            <p>1</p>
                            <textarea name="selection1" placeholder="選択肢を書いてください"></textarea>
                        </div>
                        <div class="choice">
                            <p>2</p>
                            <textarea name="selection2"></textarea>
                        </div>
                        <div class="choice">
                            <p>3</p>
                            <textarea name="selection3"></textarea>
                        </div>
                        <div class="choice">
                            <p>4</p>
                            <textarea name="selection4"></textarea>
                        </div>
                        <h2>答え</h2>
                        <select name ="answer">
                            <!--番号は選択肢の文と対応させておくれ。-->
                            <option value="" hidden>答えを選択</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <h2>解説</h2>
                        <textarea class="long" placeholder="解説を書いてください"></textarea>
                        <div class="button">
                            <input type="submit" value="登録">
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>
