<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>StudeyOurSelves</title>
        <meta name="description" content="共有タスク管理するWebアプリケーション">

        <!--CSS----------------------------------------------->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="../static/styles/register_class.css">
    </head>

    <body>
        <header>
            <div class="title">
                <a href="index.html">SOS</a>
            </div>
            <div class="menus">
                <ul>
                    <!--ユーザー情報編集ページへ-->
                    <li><a href="edit.html">ユーザー名</a></li>
                    <li><a href="index.html">ログアウト</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="register">
                <div class="title">
                    <h1>授業登録</h1>
                </div>
                <form action="" method="" name="">
                    <div class="search">
                        授業名：<input type="text">
                        <input type="submit" value="検索する">
                    </div>
                </form>
                <div class="result">
                    <h2>検索結果</h2>
                    <ul class="classes">
                        <li class="class">
                            <p><a href="class.html">授業名1</a></p>
                            <div class="info">
                                この授業は、（授業説明）。
                            </div>
                        </li>
                        <li class="class">
                            <p><a href="class.html">授業名2</a></p>
                            <div class="info">
                                この授業は、（授業説明）。
                            </div>
                        </li>
                        <li class="class">
                            <p><a href="class.html">授業名3</a></p>
                            <div class="info">
                                この授業は、（授業説明）。
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </body>
</html>