/*共通レイアウト--------------------------*/
*{
    text-decoration: none;
    max-width: 1280px;
    margin: 0 auto;
}

/*header---------------------------------*/
header{
    align-items: center;
    background-color: #560d04;
    display: flex;
    margin: 0 auto;
}
header a{
    color: #f1eac3;
}


.title{
    margin-left: 1.5rem;
}
.title a{
    font-family: serif;
    font-size: 4rem;
    font-weight: bold;
}

.menus{
    margin-right: 1.5rem;
}
.menus ul{
    display: flex;
    list-style: none;
}
.menus li{
    padding: 1rem;
}
.menus li a:hover{
    color: #a6ce39;
}
/*----------------------header*/
/*----------------------共通レイアウト*/

main{
    color: black;
    background-blend-mode: luminosity;
    /*background-color: #7acbe1;*/
    background-color: #33121a;
    background-image: url(../images/home_background.webp);
    background-position: center top;
    background-repeat: repeat;
    background-size: conver;
    display: flex;
    min-height: 100vh;
    text-align: left;

}

.answer{
    background-color: rgba(255,255,255,0.9);
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 70%;
}

.class-name{
    font-family: serif;
    margin: 1.5rem 0rem;
    text-align: center;
}
.class-name h2{
    padding-bottom: 1rem;
}
.mark-correct{
    color: red;
    font-size: 4rem;
    font-weight: bold;
}
.mark-wrong{
    color: blue;
    font-size: 4rem;
    font-weight: bold;
}

.problem-statement{
    box-sizing: border-box;
    margin-bottom: 1rem;
    width: 100%;
}
.problem-statement h2{
    padding: 0.2rem 1rem;
}
.problem-statement p{
    padding: 1rem 2rem;
}
.answer-statement{
    box-sizing: border-box;
    margin-bottom: 1rem;
    width: 100%;
}
.answer-statement h2{
    padding: 0.2rem 1rem;
}
.answer-statement ul{
    display: flex;
    list-style: none;
    max-width: 30rem;
    width: 80%;
}
.answer-statement p{
    padding: 1rem 2rem;
}
.correct{
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
}
.wrong{
    color: blue;
    font-size: 1.4rem;
    font-weight: bold;
}

.button{
    text-align: right;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 30rem;
}
.button a{
    color: black;
    display: inline-block;
    border: solid 1px black;
    border-radius: 3px;
    padding: 0.2rem 0.5rem;
}
.button a:hover{
    background-color: rgba(204,0,0,0.2);
}