/*共通レイアウト--------------------------*/
*{
    text-decoration: none;
    max-width: 1280px;
    margin: 0 auto;
}

/*header---------------------------------*/
header{
    align-items: center;
    background-color: #560d04;
    display: flex;
    margin: 0 auto;
}
header a{
    color: #f1eac3;
}


.title{
    margin-left: 1.5rem;
}
.title a{
    font-family: serif;
    font-size: 4rem;
    font-weight: bold;
}

.menus{
    margin-right: 1.5rem;
}
.menus ul{
    display: flex;
    list-style: none;
}
.menus li{
    padding: 1rem;
}
.menus li a:hover{
    color: #a6ce39;
}
/*----------------------header*/
/*----------------------共通レイアウト*/

main{
    color: black;
    background-blend-mode: luminosity;
    /*background-color: #7acbe1;*/
    background-color: #33121a;
    background-image: url(../images/index_background_ver2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: conver;
    display: flex;
    min-height: 100vh;
    text-align: center;
}

.login{
    background-color: rgba(255,255,255,0.7);
    margin-top: 5rem;
    max-height: 20rem;
    border-radius: 10px;
    width: 70%;
}
.login h1{
    font-family: serif;
    letter-spacing: 0.5rem;
    padding-top: 2rem;
    margin-bottom: 1rem;
}
.login p{
    padding-top: 1rem;
    padding-bottom: 0.2rem;
}
.login input[type="email"],input[type="password"]{
    background-color: rgba(15, 15, 15, 0.2);
    padding: 0.3rem 0.5rem;
}
.login input[type="submit"]{
    background-color: #dddddd;
    border-radius: 4rem;
    border-style: solid;
    border-width: 0.1rem;
    cursor: pointer;
    line-height: 1;
    margin-top: 1rem;
    padding: 0.2rem 0.5rem;
}

.error{
    color: red;
    position: static;
    margin-top: -1rem;
}
