/*共通レイアウト--------------------------*/
*{
    text-decoration: none;
    max-width: 1280px;
    margin: 0 auto;
}

/*header---------------------------------*/
header{
    align-items: center;
    background-color: #560d04;
    display: flex;
    margin: 0 auto;
}
header a{
    color: #f1eac3;
}


.title{
    margin-left: 1.5rem;
}
.title a{
    font-family: serif;
    font-size: 4rem;
    font-weight: bold;
}

.menus{
    margin-right: 1.5rem;
}
.menus ul{
    display: flex;
    list-style: none;
}
.menus li{
    padding: 1rem;
}
.menus li a:hover{
    color: #a6ce39;
}
/*----------------------header*/
/*----------------------共通レイアウト*/

main{
    color: black;
    background-blend-mode: luminosity;
    /*background-color: #7acbe1;*/
    background-color: #33121a;
    background-image: url(../images/home_background.jpg);
    background-position: center top;
    background-repeat: repeat;
    background-size: conver;
    display: flex;
    min-height: 100vh;
    text-align: left;

}

.question{
    background-color: rgba(255,255,255,0.9);
    border-radius: 1rem;
    margin-top: 2rem;
    width: 70%;
}

.class-name{
    font-family: serif;
    margin: 1.5rem 0rem;
    text-align: center;
}

.problem-statement{
    box-sizing: border-box;
    margin-bottom: 1rem;
    width: 100%;
}
.problem-statement h2{
    padding: 0.2rem 1rem;
}
.problem-statement p{
    padding: 1rem 2rem;
}

.choice{
    box-sizing: border-box;
}
.choice h2{
    padding: 0.2rem 1rem;
}
.choice table{
    box-sizing: border-box;
    table-layout: fixed;
    width: 90%;
}
.choice th{
    padding: 0.5rem;
}
.choice td{
    padding: 0.3rem;
    width: 90%;
}
.choice label{
    cursor: pointer;
}

.button{
    text-align: right;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 30rem;
}
.button a{
    color: black;
    display: inline-block;
    border: solid 1px black;
    border-radius: 3px;
    padding: 0.2rem 0.5rem;
}
.button a:hover{
    background-color: rgba(204,0,0,0.2);
}
.button input[type="submit"]{
    color: black;
    display: inline-block;
    border: solid 1px black;
    border-radius: 3px;
    padding: 0.2rem 0.5rem;
}
.button input[type="submit"]:hover{
    background-color: rgba(204,0,0,0.2);
}

/*tom追加分ーーー */
@keyframes fade {
    0% {
      opacity: 0;
      transform: translateY(15px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
dialog {
  padding: 0;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1rem;
  box-shadow: 1px 1px 2px #333;
  margin-top: 1rem;
  max-width: 40rem;
  background-color: rgba(221, 221, 221, 0.9);
  position: relative;
  text-align: center;
  width: 80%;
}
        
dialog[open]{
  animation: fade 1s ease 0s 1 normal;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

dialog h2 {
  padding: 10px;
  background-color: #7a1c0c;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1rem;
  box-shadow: none;
  margin: 0;
  color: #fff5d3;
}
dialog h3 {
  padding: 10px;
  background-color: #ffffff00;
  margin: 0;
  color: #000000;
}
dialog p{
    padding: 0rem 1rem;
    text-align: left;
}

dialog div {
  color:#000000;
  padding: 10px;
}

#close{
  background-color: rgba(70,16,0,0.4);
  text-align: center;
  margin: 10px auto 20px auto;
  max-width: 10rem;
  padding: 10px;
  border-radius: 4px;
  width: 50%;
  font-weight: bold;
  color: black;
  box-shadow: 0px 1px 3px #333;
  cursor: pointer;
}
#close:hover{
    background-color: rgba(70,16,0,0.6);
}

dialog-content{
  display: flex;
}
