/*共通レイアウト--------------------------*/
*{
    text-decoration: none;
    max-width: 1280px;
    margin: 0 auto;
}

/*header---------------------------------*/
header{
    align-items: center;
    background-color: #560d04;
    display: flex;
    margin: 0 auto;
}
header a{
    color: #f1eac3;
}


.title{
    margin-left: 1.5rem;
}
.title a{
    font-family: serif;
    font-size: 4rem;
    font-weight: bold;
}

.menus{
    margin-right: 1.5rem;
}
.menus ul{
    display: flex;
    list-style: none;
}
.menus li{
    padding: 1rem;
}
.menus li a:hover{
    color: #a6ce39;
}
/*----------------------header*/
/*----------------------共通レイアウト*/

main{
    color: black;
    background-blend-mode: luminosity;
    /*background-color: #7acbe1;*/
    background-color: #33121a;
    background-image: url(../images/home_background.webp);
    background-position: center top;
    background-repeat: repeat;
    background-size: conver;
    display: flex;
    min-height: 100vh;
    text-align: left;

}

.register{
    background-color: rgba(255,255,255,0.9);
    border-radius: 1rem;
    margin-top: 2rem;
    text-align: center;
    width: 70%;
}
.register h1{
    font-family: serif;
    padding: 1.5rem;
}

.search{
    padding: 1rem;
}
.search input[type="text"]{
    background-color: rgba(15,15,15,0.2);
    padding: 0.3rem 0.5rem;
}
.search input[type="submit"]{
    background-color: #dddddd;
    border-radius: 4rem;
    border-style: solid;
    border-width: 0.1rem;
    cursor: pointer;
    line-height: 1;
    margin-left: 1rem;
    padding: 0.2rem 0.5rem;
}

.result{
    margin: 1rem;
    padding: 1rem;
}
.result h2{
    border-bottom: solid 2px black;
    font-size: 1.5rem;
    font-weight: bold;
}

.classes{
    margin-left: 2rem;
    text-align: left;
}

.class{
    margin-top: 1rem;
}
.class a{
    color: #4a5512;
    font-size: 1.3rem;
}
.class a:hover{
    color: red;
}

.info{
    font-size: 0.9rem;
    margin-top: 0.3rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
}